.idea/
.dccache
*/node_modules/**
function.zip
echo_function.zip
sqsreader_function.zip
*/coverage/**
output.txt
localstack/volume/**
postgresql/dbdata/**
**/env/*
python-rds-func/dist/**
react-tic-tac-toe/build/**
